

<header><h3>{{ 'bold.recurring_orders.gift_title' | t }}</h3></header>
<div class="gift-selection">
  <header class="has-toggle">
    <h3>{{ 'bold.recurring_orders.subscription_is_gift_html' | t }}</h3>
    <input class="slider-toggle text-toggle" id="is_gift_toggle" type="checkbox" name="properties[is_gift]" value="on" />
    <label for="is_gift_toggle"></label>
    <div class="expanded-text-body gift-details">
      {% comment %}<input type="text" placeholder="{{ 'bold.recurring_orders.gift_message_to_placeholder_html' | t }}" name="properties[To]" /> {% endcomment %}

        <textarea placeholder="{{ 'bold.recurring_orders.gift_message_placeholder_html' | t }}" name="properties[Gift Message]" onkeyup="BOLD.bms_ro_loader.updateGiftRemainingCharacters(this)" maxlength="{{ settings.bms_gift_message_max_length | default: 250 }}"></textarea>
        
        <div class="email_wrapper">
          <input placeholder="{{ 'bold.recurring_orders.gift_email_placeholder_html' | t }}" type="email" value="" name="properties[EMAIL]" class="" id="gift_email">
          <span class="email_warning">Please enter valid email</span>
        </div>

      <p>* Email helps ensure that their experience is 100% socksome.</p>



    </div>
  </header>
</div>

