<header class="sticky">
  <h2>{{ 'bold.recurring_orders.subscription_heading' | t }}</h2>
  <p>{{ 'bold.recurring_orders.subscription_subheading' | t }}</p>

  <div id="moreInfoList">
    <ul>
      <li itemprop="description">Free shipping anywhere in the world.</li>
      <li itemprop="description">Swap out any pair you’re not happy with.</li>
      <li itemprop="description">70% combed cotton, 200 needle socks.</li>
      <li itemprop="description">No commitment, cancel anytime.</li>
      <li itemprop="description">Adjust your subscription at any time.</li>
    </ul>
  </div>


</header>

<div class="yotpo bottomLine"
    data-appkey="Ut2s0FduIjO8mBVZDtbHh3nprNtysYyWQTPI6MtB"
    data-domain="{{shop.permanent_domain | escape }}"
    data-product-id="{{ product.id }}"
    data-product-models="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
    data-description="{{ product.description | escape }}"
    data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
</div>

<div class="mobile-info">
  <a onclick="toggleBulletList();">More Info</a>
</div>

<form method="post" enctype="multipart/form-data" class="custom-subscription-form no_ro_widget product_form" action="/cart/add" data-money-format="{{ shop.money_format }}">
  {% include 'bms-custom-swatches', for_variant: true %}
  {% include 'bms-custom-ro-widget' %}
  {% include 'bms-custom-subscription-summary-and-submit' %}
</form>

<script type="text/javascript">
function toggleBulletList() {
  console.log("toggle");
    var x = document.getElementById("moreInfoList");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
