<div class="sock-specs">
  <img src="{{ 'sockfancy-promo.jpg' | file_img_url: 'original' }}" class="promo-image" alt="Closeup of two comfortable feet wearing our one of our exciting sock designs" />
  <div class="image-inner">
    <header>
      <h2>Sock Specs</h2>
    </header>

    <ul class="sock-composition">
      <li>70% combed cotton </li>
      <li>14% Polyester </li>
      <li>13% Nylon </li>
      <li> 3% spandex</li>
    </ul>

    <ul class="washing-instructions">
      <li><abbr title="Machine Wash Warm Water"><img class="laundry-icon" src="{{ 'ico-wash-warm.png' | file_img_url }}" width="26" height="25" alt="Icon for 'Maching Wash in Warm Water'" /></abbr></li>
      <li><abbr title="Non-Chlorine Bleach Only"><img class="laundry-icon" src="{{ 'ico-bleach-non-cl.png' | file_img_url }}" width="26" height="26" alt="Icon for 'Non-Chlorine Bleach Only'" /></abbr></li>
      <li><abbr title="Hang to Dry"><img class="laundry-icon" src="{{ 'ico-dry-hang.png' | file_img_url }}" width="24" height="25" alt="Icon for 'Hang to Dry'" /></abbr></li>
      <li><abbr title="Do Not Iron"><img class="laundry-icon" src="{{ 'ico-iron-no.png' | file_img_url }}" width="34" height="24" alt="Icon for 'Do Not Iron'" /></abbr></li>
    </ul>

    <p>For best results, wear on your feet.</p>
    <p>Designed in Atlanta</p>
  </div>
</div>

<div class="sock-tech">
  <header>
    <h2>Sock Tech</h2>
  </header>


  <ul class="sock-tech-list">
    <li>
      <img class="sock-tech-icon" src="{{ 'ico-no-slip.png' | file_img_url }}" alt="Icon with triangle pointing up" />
      <h3>No-Slip Cuff</h3>
      <p>Socks guaranteed to stay put all day under the toughest circumstances.</p>
    </li>
    <li>
      <img class="sock-tech-icon" src="{{ 'ico-cotton.png' | file_img_url }}" alt="Icon showing a cotton tree" />
      <h3>HIGH QUALITY COMBED COTTON</h3>
      <p>Constructed from 70% combed cotton for an ultra-soft yet durable fit every time.</p>
    </li>
    <li>
      <img class="sock-tech-icon" src="{{ 'ico-needle.png' | file_img_url }}" alt="Icon with lots of needles in a cross-hatch pattern" />
      <h3>200 Needle Construction</h3>
      <p>200 needle machines yield brighter, softer, more detailed, and longer lasting socks.</p>
    </li>
    <li>
      <img class="sock-tech-icon" src="{{ 'ico-reinforced.png' | file_img_url }}" alt="Icon of a strong arm flexing" />
      <h3>Reinforced Heel and toe</h3>
      <p>Strong fibers to give you the durability you need without the added bulk.</p>
    </li>
  </ul>
</div>
