<header>
  <h2 class="text-uppercase text-center">What we’re made of</h2>
</header>

<div class="featured-video-wrapper">
  <a href="javascript:void(0)" class="video-loader" data-video="someaddress.com/myvid">
    <img class="img-responsive" src="{{ 'sockfancy-people.jpg' | file_img_url: '540x' }}" width="540" alt="People wearing our socks and experiencing life's grand adventures" />
  </a>
</div>

<div class="sock-details-wrapper">
  <figure class="sock-diagram">
    <img class="img-responsive" src="{{ 'sockfancy-socks-transparent-bg.png' | file_img_url: '320x' }}" width="320" alt="Showing off the features of our socks">
  </figure>

  <div class="sock-technical-details">
    <ul class="sock-composition">
      <li>70% combed cotton </li>
      <li>14% Polyester </li>
      <li>13% Nylon </li>
      <li> 3% spandex</li>
    </ul>
    <ul class="washing-instructions">
      <li><abbr title="Machine Wash Warm Water"><img src="{{ 'ico-wash-warm.png' | file_img_url }}" width="26" height="25" alt="Icon for 'Maching Wash in Warm Water'" /></abbr></li>
      <li><abbr title="Non-Chlorine Bleach Only"><img src="{{ 'ico-bleach-non-cl.png' | file_img_url }}" width="26" height="26" alt="Icon for 'Non-Chlorine Bleach Only'" /></abbr></li>
      <li><abbr title="Hang to Dry"><img src="{{ 'ico-dry-hang.png' | file_img_url }}" width="24" height="25" alt="Icon for 'Hang to Dry'" /></abbr></li>
      <li><abbr title="Do Not Iron"><img src="{{ 'ico-iron-no.png' | file_img_url }}" width="34" height="24" alt="Icon for 'Do Not Iron'" /></abbr></li>
    </ul>
    <p>For best results, wear on yor feet.</p>
    <p>Designed in Atlanta</p>
  </div>

  <div class="sock-composition-labels">
    <ul>
      <li class='composition-label'>
        <a href="javascript:void(0)" class="letter-tag letter-a">A</a>
        <a href="javascript:void(0)" class="letter-tag letter-a positioned-in-image">A</a>
        <h5>2 Inch No-Slip Cuff Band</h5>
        <p>Ensures the socks stay put under tough circumstances.</p>
      </li>
      <li class='composition-label'>
        <a href="javascript:void(0)" class="letter-tag letter-b">B</a>
        <a href="javascript:void(0)" class="letter-tag letter-b positioned-in-image">B</a>
        <h5>High Quality Combed Cotton.</h5>
        <p>Constructed from 70% combed cotton for a soft yet durable sock.</p>
      </li>
      <li class='composition-label'>
        <a href="javascript:void(0)" class="letter-tag letter-c">C</a>
        <a href="javascript:void(0)" class="letter-tag letter-c positioned-in-image">C</a>
        <h5>200 Needle Machine Construction.</h5>
        <p>Yields higher definition durable designs along with a soft-touch feel.</p>
      </li>
      <li class='composition-label'>
        <a href="javascript:void(0)" class="letter-tag letter-d">D</a>
        <a href="javascript:void(0)" class="letter-tag letter-d positioned-in-image">D</a>
        <h5>Reinforced Heel and Toe Sections.</h5>
        <p>Ensures comfort and strength where you need it the most.</p>
      </li>
      <li class='composition-label'>
        <a href="javascript:void(0)" class="letter-tag letter-e">E</a>
        <a href="javascript:void(0)" class="letter-tag letter-e positioned-in-image">E</a>
        <h5>Double Stitched Heather Design.</h5>
        <p>We used double stitched two-toned thread for a unique ‘heather’ pattern.</p>
      </li>
    </ul>
  </div>
</div>
