{% paginate customer.orders by 20 %}
  <div class="container main content main-wrapper">
    <div class="sixteen columns clearfix collection_nav">
      <h1 class="center">{{ 'customer.account.details' | t }}</h1>
      <div class="feature_divider"></div>
    </div>
     
    <div class="sixteen columns breadcrumb">
      <div class="clearfix breadcrumb_text">
        <div class="left">
        <p>
          <a class="continueShopping" href="/" title="Sock Fancy Homepage"> < CONTINUE SHOPPING</a>
        </p>
        <p class="accountName">
          <strong>Hi, <a href="/account" title="{{ 'layout.customer.my_account' | t }}"> {{ customer.name }}</a></strong>
        </p>
        <p class="email note">{{ customer.email }}</p> 
        </div>
        <div class="account_right">
          {{ 'layout.customer.log_out' | t | customer_logout_link }}
        </div>
        
        
      </div>
    </div>

    <div class="section clearfix">  
      <div class="four columns">
        <div id="customer_detail" class="group">
        {% comment %} <h4 class="name">{{ customer.name }}</h4> {% endcomment %}
        {% comment %} <p><a href="/tools/checkout/front_end/login" class="text-link">Manage Subscription</a></p> {% endcomment %}

          <div class="manage_account_buttons">
              <div class="account_button">
                <a href="/tools/checkout/front_end/login" class="account-text-link">MANAGE SUBSCRIPTION</a>
              </div>
                <br>
              <div class="account_button">
                <a href="/products/sock-subscription" class="account-text-link">ADD NEW SUBSCRIPTION</a>  
              </div>
          </div>
          {% comment %} <div class="address note">
            {% if customer.default_address != nil %}
              <p>{{ customer.default_address.address1 }}</p>
              {% if customer.default_address.address2 != "" %}
                <p>{{ customer.default_address.address2 }}</p>
              {% endif %}
              <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
              <p>{{ customer.default_address.zip}}</p>
              <p>{{ customer.default_address.phone }}</p>
            {% endif %}
              <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
          </div> {% endcomment %}
        </div>
      </div>


      <div class="twelve columns">
        <div id="customer_orders">

          <h4>{{ 'customer.orders.title' | t }}</h4>

          {% if customer.orders.size != 0 %}
          <table width="100%">
            <thead>
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.payment_status' | t }}</th>
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
              <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                  <td>{{ order.name | link_to: order.customer_url }}</td>
                  <td>{{ order.created_at | date: format: "month_day_year" }}</td>
                  <td>{{ order.financial_status_label }}</td>
                  <td>{{ order.fulfillment_status_label }}</td>
                  <td>
                    <span class="money">{{ order.total_price | money }}</span>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>{{ 'customer.orders.none' | t }}</p>
          {% endif %}

          {% include 'pagination' with true %}
          <br>
          
        </div>
      </div>
    </div>
      <div class="account_refer_section">
        <p class="account_refer">
          <a href=""><img src= "{{  'Refer-A-Friend.jpg' | asset_img_url: '1000x' }}" alt="refer a friend banner"></a>
        </p>
      </div>
  </div>
{% endpaginate %}  