{%- assign subscription_product = all_products[settings.bms_smart_subscription_product] -%}
{%- for variant in subscription_product.variants -%}
  {%- unless two_pair_sub_id -%}
    {%- if variant.option1 == '2 Pairs' or variant.option2 == '2 Pairs' or variant.option3 == '2 Pairs' -%}
      {%- assign two_pair_sub_id = variant.id -%}
    {%- endif -%}
  {%- endunless -%}
  {%- unless six_pack_sub_id -%}
    {%- if variant.option1 == '6 Pack' or variant.option2 == '6 Pack' or variant.option3 == '6 Pack' -%}
      {%- assign six_pack_sub_id = variant.id -%}
    {%- endif -%}
  {%- endunless -%}
  {%- if two_pair_sub_id and six_pack_sub_id -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<section id="section1" style="background-image:url({{ section.settings.hero_image | img_url: 'master' }});">
    <div class="section1_content">
        <div class="container">
            <div class="section1_header">
                <h1>AWESOME SOCKS<br>DELIVERED MONTHLY</h1>
                <p>Free Shipping Worldwide. Cancel Anytime.</p>
            </div>

            <div class="section1_links">
                <a class="join_btn button" href="/products/{{ settings.bms_smart_subscription_product }}">JOIN THE CLUB</a>
                <span class="section1_video" style="color: #fff;"><a data-lity href="https://youtu.be/k42rx2AJJb8"><img src="{{ 'play-circle.svg' | asset_url }}" width="17" height="auto" class="playImg" />WATCH THE VIDEO</span></a>
                {% comment %} <a class="gift_btn button" href="/products/{{ settings.bms_smart_subscription_product }}?is_gift">GIVE AS GIFT</a> {% endcomment %}
            </div>

            {%- comment -%} <iframe width="560" height="315" src="https://www.youtube.com/embed/k42rx2AJJb8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> {%- endcomment -%}


        </div>
    </div>
        <div class="hero-image-right">
                <img class="legs-img" src="{{ 'Legs_2.png' | file_img_url: 'master' }}">
        </div>

</section>

<div class="section1_bottom_banner">
    <div class="container" style="padding: 20px 0;">
        <div class="flex_container">
            <div id="shipping">
                <img src="{{ 'airplane.png' | asset_img_url: '50x50' }}"><span class="free_shipping">FREE SHIPPING<br>WORLDWIDE</span>
            </div>
            <div id="exchange">
                <img src="{{ 'exchange_logo.png' | asset_img_url: '50x50' }}"><span class="exchange">EXCHANGE OR<br>CANCEL ANYTIME</span>
            </div>
            <div id="satisfaction">
                <img src="{{ 'satisfaction.png' | asset_img_url: '50x50'}}"><span class="satisfaction">100% SATISFACTION<br>GUARANTEED</span>
            </div>
        </div>
    </div>
</div>

<section id="section2">
    <div class="container">
        <div class="section2_top_content">
            <div class="section2_left_content">
                <img src="{{ 'howitworks.jpg' | asset_img_url: '580x' }}" width="100%"/>
            </div>
            <div class="section2_right_content">
                <h2>HOW IT WORKS</h2>
                <p>Sock Fancy provides stylish folks like yourself with a monthly sock subscription to a selection of unique, eye-catching socks. For just 11 bucks a month you not only get a pair of awesome socks delivered to your door, but all the comfort and cool that fresh socks can bring.</p>
                <div class="section2_links">
                    <a class="do_this_thing button" href="/products/{{ settings.bms_smart_subscription_product }}">LET'S DO THIS THING!</a>
                    <a data-lity href="https://youtu.be/k42rx2AJJb8" class="play_video_link">PLAY VIDEO</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="section2_bottom_content">
            <div class="pickSubs">
                <img src="{{ 'Socks.svg' | asset_url }}" />
                <h3>1. Pick Your Subscription</h3>
                <p>
                    Gift it or grab a sub for yourself. You can't go wrong either way.
                </p>
            </div>
            <div class="customSubs">
                <img src="{{ 'Customize.svg' | asset_url }}" />
                <h3>2. Customized to You</h3>
                <p>Pick your sock size, sub length, and checkout. Leave the rest to us!
                </p>
            </div>
            <div class="unwrapSubs">
                <img src="{{ 'Package.svg' | asset_url }}" />
                <h3>3. Unwrap Awesome Monthly</h3>
                <p>Kick back and watch your sockgame transform from dull to dashing!</p>
            </div>
        </div>
    </div>
</section>

<section id="section3">
    <div class="container">
        <h2>SUBSCRIPTION PLANS</h2>
        <div class="section3_content">
            <div class="monthlySub">
                <span>Monthly<br><strong>Subscription</strong></span>
                <hr>
                <img src="{{ 'Full-Shot-2016_no_bg_low.png' | asset_img_url: 'master' }}" />
                <div class="section3_desc">
                    <p><strong>FREE SHIPPING</strong></p>
                    <p><strong>Cancel Anytime.</strong></p>
                    <p>Swap Pairs Anytime.</p>
                    <p>Ships Monthly.</p>
                </div>
                <hr style="margin-bottom: 35px;">
                <p class="savings"><span class="savingValue">$11</span> /mo</p>
                <a class="chooseSub button" type="submit" href="/products/{{ settings.bms_smart_subscription_product }}">Choose</a>
            </div>

            <div class="giftSub">
                <span>Gift<br><strong>Subscription</strong></span>
                <hr>
                <img src="{{ 'Holiday-Product.png' | asset_img_url: 'master' }}" />
                <div class="section3_desc">
                    <p><strong>FREE SHIPPING</strong></p>
                    <p>Prepaid or Monthly Plans.</p>
                    <p>Satisfaction Guaranteed.</p>
                    <p>Ships Monthly.</p>
                </div>
                <hr>
                <p class="savings">Starting at<br><span class="savingValue">$33</span> /mo</p>
                <a class="chooseSub button" type="submit" href="/products/{{ settings.bms_smart_subscription_product }}?is_gift">Choose</a>
            </div>

            <div class="sixPackSub">
                <span>6-Pack<br><strong>Sock Box</strong></span>
                <hr>
                <img src="{{ 'Full-Shot-2016_no_bg_6pk_b.png' | asset_img_url: 'master' }}" />
                <div class="section3_desc">
                    <p><strong>FREE SHIPPING</strong></p>
                    <p>Prepaid or Monthly Plans.</p>
                    <p>Satisfaction Guaranteed.</p>
                    <p>Ships Monthly.</p>
                </div>
                <hr>
                <p class="savings">Starting at<br><span class="savingValue">$57</span> /mo</p>
                <a class="chooseSub button" type="submit" href="/products/{{ settings.bms_smart_subscription_product }}?variant={{ six_pack_sub_id }}">Choose</a>
            </div>

            <div class="bulkSub">
                <span>Bulk<br><strong>Subscription</strong></span>
                <hr>
                <img src="{{ 'bulkSubscription.png' | asset_img_url: 'master' }}" style="padding-top: 43px; padding-bottom: 14px;" />
                <div class="section3_desc">
                    <p>PERFECT FOR:</p>
                    <p>Corporate Gifts.</p>
                    <p>Holiday &amp; Seasonal Gifts.</p>
                    <p>Teams, Families &amp; More.</p>
                </div>
                <hr style="margin-bottom: 35px;">
                <p class="savings">up to <span class="savingValue">35%</span> off</p>
                <a class="chooseSub button" type="submit" href="/pages/ {{ settings.bulk_order_page }}">Choose</a>
            </div>
        </div>
        <div class="section3_footer">
            <p>* Pricing reflects starting price for each subscription. Other options are available.</p>
        </div>
    </div>
</section>

<section id="section4">
    <div class="section4_outer_container">
        <div class="container">
            <div class="section4_content">
                <h2>LOOKING FOR CUSTOM SOCKS?</h2>
                <p>Looking to promote your startup, team or organization? Join hundreds of happy companies and step up your swag game with a custom sock. We make it super easy (and affordable!) to customize the perfect pair to help your crew stand out and get a leg up on the competition.</p>
                <div class="letsgetcustom">
                    <a href="/pages/{{ settings.custom_sock_page }}">LET'S GET CUSTOM!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section5">
    <div id="insta-feed"></div>
    {%- comment -%} <div class="flextslider">
        <ul class="slides">
            <li>
                <img src="{{ 'Instagram_Shop.jpg' | asset_img_url: 'master'}}">
            </li>
        </ul>
    </div> {%- endcomment -%}
</section>

<section id="featured_in">
    <div class="container" style="padding: 20px 0;">
        <div class="featured_flex">
            <div class="mashable" style="padding: 15px;">
                <img src="{{ 'Mashable.png' | asset_img_url: 'x49' }}"/>
            </div>

            <div class="cnn" style="padding: 15px;">
                <img src="{{ 'CNN.png' | asset_img_url: 'x49' }}"/>
            </div>
            
            <div class="buzzfeed" style="padding: 15px;">
                <img src="{{ 'BuzzFeed.png' | asset_img_url: 'x49' }}"/>
            </div>
            
            <div class="inc" style="padding: 15px;">
                <img src="{{ 'Inc.png' | asset_img_url: 'x49' }}"/>
            </div>

        </div>
    </div>
</section>

{% schema %}
{
    "name": "Hero Image",
    "class": "section1",
    "settings": [
        {
            "type": "image_picker",
            "id": "hero_image",
            "label": "hero_image"
        }
    ]
}
{% endschema %}
